<div class="container">
  <h2>Projetos</h2>
  <div class="projetos">
    <div class="projeto">
      <a href="https://task-manager-inky-chi.vercel.app/" target="_blank">
        <img src="../../../assets/task-manager.png" alt="" class="imagem-projeto">
        <ul class="tecnologias">
            <li><img src="../../../assets/angular.svg" alt="" class="icone"></li>
            <li><img src="../../../assets/typescript.svg" alt="" class="icone"></li>
            <li><img src="../../../assets/javascript.svg" alt="" class="icone"></li>
            <li><img src="../../../assets/git.svg" alt="" class="icone"></li>
            <li><img src="../../../assets/html.svg" alt="" class="icone"></li>
            <li><img src="../../../assets/css.svg" alt="" class="icone"></li>
        </ul>
        <h3 class="titulo-projeto">Task Manager</h3>
        <p class="pProjeto">Aplicação para controlar a quantidade de dias consecutivos realizando uma tarefa. Desenvolvida com angular e typescript.</p>
      </a>
    </div>
    <div class="projeto">
      <a href="https://matheusdebrito.github.io/marvelheroes.github.io/" target="_blank">
        <img src="../../../assets/projetoMarvel.jpg" alt="imagem do projeto marvel heroes" class="imagem-projeto">
        <ul class="tecnologias">
            <li><img src="../../../assets/html.svg" alt="" class="icone"></li>
            <li><img src="../../../assets/javascript.svg" alt="" class="icone"></li>
            <li><img src="../../../assets/css.svg" alt="" class="icone"></li>
        </ul>
        <h3 class="titulo-projeto">Marvel Heroes</h3>
        <p class="pProjeto">Projeto desenvolvido utilizando a API da marvel para consumir as informações dos hérois como nome, descrição, histórias, etc.</p>
      </a>
    </div>
  </div>
</div>
